<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todolist</title>
    <link rel="stylesheet" type="text/css" href="/css/style.x63573.css"/>
</head>
<body>
<h1>Todolist</h1>
<h3>Add task to list</h3>
<form action="/add" method="post">
    <table border="1px">
        <tr>
            <td>
                <label>Priority</label>
                <input type="number" name="priorityId">
            </td>
            <td>
                <label>Description</label>
                <input type="text" name="description">
            </td>
            <td>
                <label>Date</label>
                <input type="date" name="date">
            </td>

            <td>
                <input type="submit" value="add task">
            </td>

        </tr>

    </table>
</form>
<br>
<h2 th:text="'Task list(task count : ' + ${taskSize} + ')'"></h2>
<table border="1px">
    <tr>
        <th>Id</th>
        <th>Priority</th>
        <th>Task description</th>
        <th>Date</th>
        <th>Delete from list</th>
    </tr>
    <tr th:each="task : ${taskList}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.priorityId}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.date}"></td>
        <td><a th:href="@{/delete/{id}(id=${task.id})}">Delete</a></td>
    </tr>
</table>
</body>
</html>